.downloadResume__button {

  &:link,
  &:visited {
    font-size: 1.2rem;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    color: var(--darkGray);
    border: 1px solid var(--darkGray);
    background-color: var(--lightGray);
    display: block;
    padding: 10px;
    margin: 30px auto 0;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    background-color: var(--medGray);
  }
}